* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

/* Hero CSS */
.hero {
    background-color: #141414;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    padding: 150px 50px;
    max-width: 1300px;
}

.hero-content {
    color: gold;
    background-color: #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    text-align: center;
}

.hero-content h1 {
    font-size: 2rem;
}

.basic-info {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info img {
    width: 50%;
    max-width: 50%;
    height: auto;
}

.basic-info h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: black;
}

.save-button {
    display: none;
}

.edit-button, 
.save-button,
.logout-btn {
    font-size: 1rem;
    background: royalblue;
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    color: gold;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.edit-button:hover,
.save-button:hover,
.logout-btn:hover {
    background: gold;
    color: royalblue;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
} 

#profile-pic-input,
.basic-info label {
    display: none;
}


.profile-info {
    background: #606060;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.profile-menu {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.profile-item {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
    margin-top: 8px;
    color: white;
}

.profile-item input[disabled] {
    color: white;
    background: none;
    border: none;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
}

.profile-item input:enabled {
    color: royalblue;
    background-color: gold;
    border: none;
    text-align: center;
    font-size: 1.25rem;
    width: 100%;
}

#credit-card {
    margin-bottom: 0;
}

.profile-button {
    align-self: center;
}

label {
    color: gold;
    font-size: 1.2rem;
}

/* Hero Mobile Responsive CSS */
@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
        height: auto;
        padding: 100px 0px;
    }

    .hero-content {
        margin-bottom: 3rem;
        padding: 0 32px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .basic-info h3 {
        font-size: 1.5rem;
    }

    .basic-info button {
        font-size: 1.2rem;
    }

    .profile-info {
        margin: 0;
        padding: 0;
    }
}