* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

/* Hero CSS */
.hero {
    background-color: #141414;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    padding: 150px 50px;
    max-width: 1300px;
}

.hero-content {
    color: gold;
    background: linear-gradient(135deg, rgba(65, 105, 225, 0.3), rgba(96, 96, 96, 0.9));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.hero-content h1 {
    font-size: 2rem;
}

.basic-info {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info p {
    line-height: 1.5rem;
}

.hero-btn {
    font-size: 1.5rem;
    text-decoration: none;
    background: royalblue;
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    color: gold;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background: gold;
    color: royalblue;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.hero-image {
  text-align: center;
  background: linear-gradient(135deg, rgba(65, 105, 225, 0.3), rgba(96, 96, 96, 0.9));
  border-radius: 4px;
  margin-left: 1rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#hero-image {
  width: 100%;
  height: 100%;
}

/* Hero Mobile Responsive CSS */
@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
        height: auto;
        padding: 100px 0px;
    }

    .hero-content {
        margin-bottom: 3rem;
        padding: 0 32px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .basic-info h3 {
        font-size: 1.5rem;
    }

    .basic-info button {
        font-size: 1.2rem;
    }

    .hero-image {
        margin: 0;
        padding: 0;
    }
}